@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
  background-color: #1F2739;
  font-family: 'Roboto', sans-serif;
}
.tbl-header{
  background-color:#1F2739;
 }
h1{
  font-size: 30px;
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
th{
  padding: 20px 15px;
  text-align: center;
  font-weight: 500;
  font-size: 17px;
  color: white;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
  -moz-box-shadow: 0 2px 2px -2px #0E1119;
  box-shadow: 0 2px 2px -2px #0E1119;
  background-color: #323C50;
  text-transform: uppercase;
}
a{
  font-size: 12px;
  color: #FB667A;
  text-transform: uppercase;
}
td{
  text-align: left;
  vertical-align:middle;
  color: #A7A1AE;
  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
  -moz-box-shadow: 0 2px 2px -2px #0E1119;
  box-shadow: 0 2px 2px -2px #0E1119;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left:5px;
  padding-right: 1%;
  background-color: #323C50;
}
.tbl-content{
    height:300px;
    overflow-x:auto;
    margin-top: 0px;
    width: 100%;
    margin-left: 1px;
}
button{
    border: none;
    color: #323C50;
    font-size: 20px;
    margin-left: 3px;
    height: 50px;
    width: 147px;
    background: #FB667A;
    text-decoration: none;
    margin-right: 1px;
}
button:hover {
    background-color: #323C50;
    color: #FB667A;
    
    
}
#pageNumber {
    border: none;
    color: #A7A1AE;
    font-size: 20px;
}
